<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>helo whaelcum to amazeon website</h1>
    <br>you have won 100000000000000 money. please enter information to claim
    <form action = "/hello" method = "post">
        <p>name on card</p>
        <p><input type="text" id="name" name="name" value=""></p>
        <p>card number</p>
        <p><input type="text" id="name" name="card_number" value=""></p>
        <p>expiry date</p>
        <p><input type="date" id="name" name="expiry" value="Expiry date"></p>
        <p>security code</p>
        <p><input type="text" id="name" name="security_code" value="Card security code"></p>
        <p><input type="submit" value = "Click here" /></p> 
    </form>
</body>
</html>